/*
*********
COMMON
*********
*/

@use './variables' as *;


ul{
  list-style: none;
}
a{
  text-decoration: none;
}
// UTILITIES
.custom-container-big{
  width: 85%;
}




// Source mixin
@mixin make-custom-container() {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px auto;
}

// Usage
.custom-container {
  @include make-custom-container();
}