/*
*********
COMMON
*********
*/

@use './variables' as *;


ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  padding: 15px;
}
a:hover{
  color: #377DFF;
  border-bottom: 2px solid #377DFF;
}
.btn:hover{
  background-color: black;
  color: white;
}
// UTILITIES
.custom-container-big{
  width: 85%;
}




// Source mixin
@mixin make-custom-container() {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px auto;
}

// Usage
.custom-container {
  @include make-custom-container();
}